body {
  background: grey; }

.landing-nav-bar {
  display: block;
  margin: 0;
  padding: 2em;
  width: 100%;
  background-color: lightslategrey; }
  .landing-nav-bar .landing-nav-list {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    list-style-type: none; }
    .landing-nav-bar .landing-nav-list li {
      background-color: black;
      margin: 0 20px; }
      .landing-nav-bar .landing-nav-list li a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: white; }
      .landing-nav-bar .landing-nav-list li li:hover {
        background-color: lightgrey; }
