@import "../../../../abstracts/mixins";
@import "../../../../abstracts/variables";

.programming-general-main-wrapper {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    line-height: 40px;
    
    padding: 2em;
    margin: 2em;

    @include respond-to-width-screen-size(med) {
        padding: 0px;
        margin: 1em 1em 0px 1em;
    }

    img { 
        width: 242px;
        height: 300px;
        max-width: 100%;

        transition: opacity 1s;

        &:hover {
            opacity: 0.5;
        }
    }

    h1 {
        text-align: center;
        font-size: 45px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        margin-bottom: 1em;
    }

    article {
        text-align: center;
        font-size: 25px;
        padding: 1em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
    }

    .programming-general-knowledge {
        display: flex;
        flex-flow: column wrap;
        flex: 1;
        padding: 2em;
        background-color: $general-main-color;

        .programming-general-knowledge-tech {
            display: flex;
            flex-direction: column;

            .programming-general-knowledge-tech-logos {
                margin: 2em;

                display: flex;
                flex-flow: row wrap;
                @include respond-to-width-screen-size(med) {
                    flex-flow: column wrap;
                }
                justify-content: space-evenly;
            }

            .programming-general-knowledge-tech-brands {
                display: flex;
                flex-flow: row wrap;
                margin-left: 3em;

                @include respond-to-width-screen-size(med) {
                    flex-flow: column wrap;
                }
                justify-content: space-evenly;

                h1 {
                    font-size: 40px;
                }
            } 
        }
    }

    .programming-general-interests {
        display: flex;
        flex-flow: column wrap;
        flex: 1;
        padding: 2em;
        background-color: $general-main-color;

        border-left: solid 10px $general-bg-color;
        @include respond-to-width-screen-size(med) {
            border-left: none;
        }

        .programming-general-interests-tech {
            display: flex;
            flex-direction: column;

            .programming-general-interests-tech-logos {
                margin: 2em;

                display: flex;
                flex-flow: row wrap;
                @include respond-to-width-screen-size(med) {
                    flex-flow: column wrap;
                }
                justify-content: space-evenly;
            }
            
            .programming-general-interests-tech-brands {
                margin-left: 4em;

                display: flex;
                flex-flow: row wrap;
                @include respond-to-width-screen-size(med) {
                    flex-flow: column wrap;
                }
                justify-content: space-evenly;
            } 
        }
    }

}