@import "../../../abstracts/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: $landing-bg-color;
}

img {
    height: auto;
    max-width: 100%;
}