@import "../../abstracts/variables";
@import "../../abstracts/mixins";

.landing-main-burger-menu div {
    display: none;

    @include respond-to-screen-size(xs) {
        display: block;
    }

    @include respond-to-screen-size(sm) {
        display: block;
    }

    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0 0;
}