@import "../../../../abstracts/mixins";
@import "../../../../abstracts/variables";

.writing-original-main {

    background: $general-nav-sub-sub-list-color;
    border: 10px solid;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 1em;
    margin: 2em;
    
    h1 {
        font-size: 40px;

        @include respond-to-width-screen-size(llg) {
            font-size: 25px;
        }

        @include respond-to-width-screen-size(sm) {
            font-size: 15px;
        }

        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
    }

    article {
        text-align: center;
        font-size: 25px;

        @include respond-to-width-screen-size(llg) {
            font-size: 15px;
        }

        @include respond-to-width-screen-size(sm) {
            font-size: 10px;
        }

        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
    }

    .writing-original-header {
        font-size: 50px;

        @include respond-to-width-screen-size(llg) {
            font-size: 30px;
        }

        @include respond-to-width-screen-size(sm) {
            font-size: 15px;
        }

        text-align: start;
        color: white;
        margin: 1em;
    }

    .writing-original-main-article {
        display: flex;
        flex-direction: row;
        justify-content: left;

        @include respond-to-width-screen-size(llg) {
            flex-direction: column;
        }

        .writing-original-article {
            text-align: start;
            font-size: 30px;
            
            @include respond-to-width-screen-size(llg) {
                font-size: 20px;
            }

            padding: 0 2em 2em 1em;
            margin-right: 1em;

            p {
                margin: 0 0 1em 1em;
            }
        }

        img {
            display: block;
            max-width: 100%;
            width: 650px;
            height: 200px;
            padding-right: 1em;

            transition: opacity 1s;

            &:hover {
                opacity: 0.65;
            }

            @include respond-to-width-screen-size(lg) {
                width: 400px;
                height: 200px;
            }
        }
    }

    .writing-original-main-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    
        @include respond-to-width-screen-size(llg) {
            flex-flow: column wrap;
        }

        margin: 1em;
        padding: 0 1em;
    
        border: 10px solid;
        border-radius: 10px;
        background: $secondary-card-color;

        div {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;  

            margin: 0 3em 3em 3em;

            @include respond-to-width-screen-size(llg) {
                margin: 0 1em 2em 0;
            }
    
            a {
                margin-bottom: 1em;
            }
    
            img {
                max-width: 100%;
                padding: 1em;

                transition: opacity 1s;

                &:hover {
                    opacity: 0.65;
                }
            }

        }   

        .writing-original-prompts-header {
            text-align: center;
        }

        .writing-original-prompt-sources-header {
            margin-top: 2em;
            padding: 1em;
        }
    }
}