@import "../../../../abstracts/variables";
@import "../../../../abstracts/mixins";

.writing-fan-main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-x: hidden;

    padding: 2em;
    margin: 2em;
    border: solid 10px;
    background-color: $general-nav-sub-sub-list-color;

    hr {
        display: block; 
        overflow: hidden; 
        margin: 3em;
        height: 1vh;
        background: black;
        border-radius: 10px;
        border-color: black;
    }


    .writing-fan-header {
        font-size: 55px;
        
        @include respond-to-width-screen-size(lg) {
            font-size: 25px;
        }

        color: white;
        text-align: center;
    }

    .writing-fan-sources-logos {
        display: flex;
        flex-flow: row wrap;

        @include respond-to-width-screen-size(sm) {
            flex-direction: column;
        }

        justify-content: center;

        img {
            display: block;
            margin: 0 4em;

            width: 300px;
            height: 250px;

            @include respond-to-width-screen-size(lg) {
                margin: 0px;
            }

            transition: width 1s, height 1s;

            &:hover {
                width: 310px;
                height: 255px;
            }
        }
    }

    .writing-fan-article {
        font-size: 35px;
        padding: 1em;

        @include respond-to-width-screen-size(lg) {
            font-size: 25px;
        }

        color: white;
        text-align: center;
    }

    .writing-fan-fic-showcase {
        display: flex;
        flex-direction: row;

        @include respond-to-width-screen-size(lg) {
            flex-direction: column;
        }

        justify-content: space-evenly;
        border-radius: 10px;

        background: $general-nav-sub-sub-sub-list-color;

        h1 {
            font-size: 75px;
            padding: 10px;

            @include respond-to-width-screen-size(lg) {
                font-size: 35px;
                padding: 0px;
                font-family: none;
            }
            color: white;
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        h2 {
            font-size: 45px;
            padding: 3px;
            
            @include respond-to-width-screen-size(lg) {
                font-size: 25px;
                padding: 0px;
                font-family: none;
            }

            color: white;
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        article {
            font-size: 25px;

            @include respond-to-width-screen-size(lg) {
                font-size: 15px;
                font-family: none;
            }

            color: white;
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        img {
            padding: 1em;
        }

        & > div {
            padding: 2em;
            margin: 1em;
        }
    }
}