@import "../../../abstracts/variables";
@import "../../../abstracts/mixins";

h1 {
    text-align: left;
    font-size: 50px;

    @include respond-to-width-screen-size(med) {
        font-size: 22px;
    }

    font-stretch: condensed;
    padding: 10px;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.landing-main-wrapper {
    display: flex;
    flex-direction: column;

    width: 98%;

    @include respond-to-width-screen-size(med) {
        width: 90%;
    }

    margin: 20px;
    background-color: $general-main-color;

    border: double;

    border-radius: 20px;

    .landing-main-content {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        @include respond-to-width-screen-size(lg) {
            flex-direction: column;
        }

        .landing-main-header {
            padding: 10px;
        }
    
        .landing-main-article {
            text-align: left;
            font-size: 24px;
            font-stretch: ultra-condensed;
            margin: 20px;
            padding: 10px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: white;
            p {
                padding-bottom: 10px;
            }
        }
    
        .landing-main-portfolio-image {
            padding: 40px;
        }
    }
}


.landing-programming {
    display: flex;
    flex-direction: row;

    @include respond-to-width-screen-size(lg) {
        flex-direction: column;
    }

    .landing-programming-content {
        display: flex;
        flex-direction: column;

        .landing-programming-article {
            text-align: left;
            font-size: 24px;
            font-stretch: ultra-condensed;
            margin: 20px;
            padding: 10px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: white;
            p {
                padding-bottom: 10px;
            }
        }
    }
    .landing-programming-image {
        width: 40%;
        @include respond-to-width-screen-size(xl) {
            width: 100%;
        }
    }
}

.landing-writing {
    display: flex;
    flex-direction: row;

    @include respond-to-width-screen-size(lg) {
        flex-direction: column;
    }

    .landing-writing-content {
        display: flex;
        flex-direction: column;

        .landing-writing-header {
            @include respond-to-width-screen-size(med) {
                margin-left: none;
            }            
        }
        .landing-writing-article {
            text-align: left;
            font-size: 24px;
            font-stretch: ultra-condensed;
            margin: 20px;
            padding: 10px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: white;
            p {
                padding-bottom: 10px;
            }
        }
    }
        
    .landing-writing-image {
        width: 35%;
        @include respond-to-width-screen-size(sm) {
            width: 80%;
        }
        @include respond-to-width-screen-size(xl) {
            width: 85%;
        }
        margin: 0px 50px 50px 50px;
        @include respond-to-width-screen-size(med) {
            margin: none;
        }
    }
}