@import "../../../../abstracts/mixins";
@import "../../../../abstracts/variables";

.programming-projects-main-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    overflow-x: hidden;

    div {
        padding: 1em;
        margin: 1em;

        @include respond-to-width-screen-size(med) {
            margin: 0px;
            width: 50vh;
        }
    
        border-radius: 10px;
    }

    h1 {
        text-align: center;
        font-size: 45px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
    }

    article {
        text-align: center;
        font-size: 30px;
        padding: 1em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
    
        p {
            margin: 1em;
        }
    }

    .programming-projects-titular {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;

        div {
            display: flex;
            flex-flow: column wrap;

            background: $secondary-card-color;
            padding: 1em;
        }

        .programming-projects-tuespairs {
            * {
                align-self: center;
                padding: 10px;
            }
            h1 {
                color: black;
            }
        
            article {
                color: black;
                padding: 0px 5em 0px 5em;
                @include respond-to-width-screen-size(med) {
                    padding: 0px;
                }
            }

            .programming-projects-tuespairs-logo {
                transition: width 2s, height 2s;

                width: 880px;
                height: 270px;

                &:hover {
                    width: 895px;
                    height: 285px;
                }
            }

            .programming-projects-tuespairs-images {
                display: flex;
                flex-direction: row;

                img {
                    border-radius: 5%;
                }

                .programming-projects-tuespairs-web-image {
                    width: 1100px;
                    height: 800px;
                }

                .programming-projects-tuespairs-mobile-image {
                    width: 600px;
                    height: 800px;
                }
                
            }
        }
    }

    .programming-projects-secondary {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        background: $general-main-color;
        
        padding: 1em;
        margin: 2em;

        @include respond-to-width-screen-size(med) {
            flex-direction: column;
            margin: 0px;
            margin-left: 1em;
        }

        img {
            display: block;
            margin: 0 auto;
            transition: width 1s, height 1s;

            width: 300px;
            height: 300px;
            &:hover {
                width: 310px;
                height: 310px;
            }
        }

        .programming-projects-hacktues {
            border-left: 10px solid;
            border-color: $general-bg-color;
            
            @include respond-to-width-screen-size(med) {
                border-left: none;
            }

            .programming-projects-hacktues-logo {
                width: 772px;
                height: 300px;
                margin-left: 3em;
                @include respond-to-width-screen-size(med) {
                    margin-left: 0px;
                }
                &:hover {
                    width: 790px;
                    height: 310px;
                }
            }
        }
    }
}