$general-bg-color: #1A1A1D;
$general-nav-color: #C3073F;
$general-nav-elements-color: #950740;
$general-nav-sub-list-color: #6F2232;
$general-main-color: #4E4E50;

$screen-width-sizes: (
    xl: 87.5em, // 4k and hi-res desktop
    lg: 60em, // 1080p and hi-res desktops
    med-lg: 53em, // ni-res laptops and low-res desktops
    med: 40em, // hi-res tables and low-res laptops
    sm: 28em, // mobile and low-res tablets
    xs: 20em, // mobile
    xxs: 15em, // really small phones
    xxxs: 8em // really REALLY small phones
);