* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  background: #1A1A1D; }

img {
  height: auto;
  max-width: 100%; }

.writing-fan-nav-bar {
  display: block;
  overflow-x: hidden;
  padding: 1rem;
  max-width: 100%;
  background: #C3073F; }
  @media (max-width: 40em) {
    .writing-fan-nav-bar .writing-fan-nav-list {
      position: relative;
      flex-flow: row wrap; } }
  @media (max-width: 60em) {
    .writing-fan-nav-bar {
      width: 75%; } }
  @media (max-width: 87.5em) {
    .writing-fan-nav-bar {
      width: 100%; } }
  .writing-fan-nav-bar .writing-fan-nav-list {
    display: flex;
    padding: 0;
    list-style-type: none; }
    .writing-fan-nav-bar .writing-fan-nav-list li {
      margin: 0 20px;
      padding: 2rem; }
      .writing-fan-nav-bar .writing-fan-nav-list li a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold; }
      .writing-fan-nav-bar .writing-fan-nav-list li:hover {
        background-color: #6F2232; }
  .writing-fan-nav-bar .writing-fan-portfolio-signature p {
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white; }

.writing-fan-main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-x: hidden;
  padding: 2em;
  margin: 2em;
  border: solid 10px;
  background-color: #341018; }
  .writing-fan-main-wrapper hr {
    display: block;
    overflow: hidden;
    margin: 3em;
    height: 1vh;
    background: black;
    border-radius: 10px;
    border-color: black; }
  .writing-fan-main-wrapper .writing-fan-header {
    font-size: 55px;
    color: white;
    text-align: center; }
    @media (max-width: 60em) {
      .writing-fan-main-wrapper .writing-fan-header {
        font-size: 25px; } }
  .writing-fan-main-wrapper .writing-fan-sources-logos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    @media (max-width: 28em) {
      .writing-fan-main-wrapper .writing-fan-sources-logos {
        flex-direction: column; } }
    .writing-fan-main-wrapper .writing-fan-sources-logos img {
      display: block;
      margin: 0 4em;
      width: 300px;
      height: 250px;
      transition: width 1s, height 1s; }
      @media (max-width: 60em) {
        .writing-fan-main-wrapper .writing-fan-sources-logos img {
          margin: 0px; } }
      .writing-fan-main-wrapper .writing-fan-sources-logos img:hover {
        width: 310px;
        height: 255px; }
  .writing-fan-main-wrapper .writing-fan-article {
    font-size: 35px;
    padding: 1em;
    color: white;
    text-align: center; }
    @media (max-width: 60em) {
      .writing-fan-main-wrapper .writing-fan-article {
        font-size: 25px; } }
    .writing-fan-main-wrapper .writing-fan-article p {
      margin: 1em; }
  .writing-fan-main-wrapper .writing-fan-fic-showcase {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 10px;
    background: #18070a; }
    @media (max-width: 60em) {
      .writing-fan-main-wrapper .writing-fan-fic-showcase {
        flex-direction: column; } }
    .writing-fan-main-wrapper .writing-fan-fic-showcase h1 {
      font-size: 75px;
      padding: 10px;
      color: white;
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
      @media (max-width: 60em) {
        .writing-fan-main-wrapper .writing-fan-fic-showcase h1 {
          font-size: 35px;
          padding: 0px;
          font-family: none; } }
    .writing-fan-main-wrapper .writing-fan-fic-showcase h2 {
      font-size: 45px;
      padding: 3px;
      color: white;
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
      @media (max-width: 60em) {
        .writing-fan-main-wrapper .writing-fan-fic-showcase h2 {
          font-size: 25px;
          padding: 0px;
          font-family: none; } }
    .writing-fan-main-wrapper .writing-fan-fic-showcase article {
      font-size: 25px;
      color: white;
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
      @media (max-width: 60em) {
        .writing-fan-main-wrapper .writing-fan-fic-showcase article {
          font-size: 15px;
          font-family: none; } }
    .writing-fan-main-wrapper .writing-fan-fic-showcase img {
      padding: 1em; }
    .writing-fan-main-wrapper .writing-fan-fic-showcase > div {
      padding: 2em;
      margin: 1em; }

.writing-fan-footer {
  text-align: center;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white; }
