* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  background: #433c36; }

.landing-nav-bar {
  display: block;
  padding: 1rem;
  max-width: 100%;
  background: #4e3b31; }
  @media (max-width: 40em) {
    .landing-nav-bar .landing-nav-list {
      position: relative;
      flex-flow: row wrap; } }
  @media (max-width: 60em) {
    .landing-nav-bar {
      width: 75%; }
      .landing-nav-bar .landing-nav-list {
        display: flex; } }
  @media (max-width: 87.5em) {
    .landing-nav-bar {
      width: 100%; }
      .landing-nav-bar .landing-nav-list {
        display: flex; } }
  .landing-nav-bar .landing-nav-list {
    display: flex;
    padding: 0;
    list-style-type: none; }
    .landing-nav-bar .landing-nav-list li {
      margin: 0 20px;
      padding: 2rem; }
      .landing-nav-bar .landing-nav-list li a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold; }
      .landing-nav-bar .landing-nav-list li ol {
        visibility: hidden;
        opacity: 0;
        display: none;
        list-style-type: none;
        position: absolute;
        margin-top: 1rem; }
  .landing-nav-bar .landing-portfolio-signature p {
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white; }

.landing-nav-element-programming:hover {
  background-color: #1b1816; }
  .landing-nav-element-programming:hover .landing-nav-programming-sub-list {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    background: #1b1816;
    padding-right: 5em;
    margin-top: 1rem; }

.landing-nav-element-writing:hover {
  background-color: #1b1816; }
  .landing-nav-element-writing:hover .landing-nav-writing-sub-list {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    background: #1b1816;
    padding-right: 4em; }

.landing-burger-menu {
  display: none;
  background: burlywood;
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px; }
  @media (max-width: 8em) {
    .landing-burger-menu {
      display: block; } }
  @media (max-width: 15em) {
    .landing-burger-menu {
      display: block; } }
  @media (max-width: 20em) {
    .landing-burger-menu {
      display: block; } }
  @media (max-width: 40em) {
    .landing-burger-menu {
      display: block; } }
  @media (max-width: 53em) {
    .landing-burger-menu {
      display: block; } }

.landing-main-wrapper {
  display: flex;
  flex-flow: column;
  width: 98%;
  margin: 20px;
  padding-bottom: 100vh;
  background-color: #927a66;
  border: double;
  border-radius: 20px; }
  .landing-main-wrapper .landing-main-intro {
    display: flex;
    justify-content: space-between;
    flex-direction: row; }
    .landing-main-wrapper .landing-main-intro .landing-main-header {
      text-align: left;
      font-size: 22px;
      font-stretch: condensed;
      margin: 20px;
      padding: 10px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: white; }
    .landing-main-wrapper .landing-main-intro .landing-main-article {
      text-align: left;
      font-size: 23px;
      font-stretch: ultra-condensed;
      margin: 20px;
      padding: 10px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: white; }
      .landing-main-wrapper .landing-main-intro .landing-main-article p {
        padding-bottom: 10px; }
    .landing-main-wrapper .landing-main-intro .landing-main-portfolio-image {
      padding: 40px;
      max-width: 100%; }

.landing-programming {
  display: flex;
  flex-direction: row; }
  .landing-programming .landing-programming-header {
    text-align: left;
    font-size: 22px;
    font-stretch: condensed;
    margin: 20px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white; }
  .landing-programming .landing-programming-article {
    text-align: left;
    font-size: 23px;
    font-stretch: ultra-condensed;
    margin: 20px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white; }
    .landing-programming .landing-programming-article p {
      padding-bottom: 10px; }

.landing-writing {
  display: flex;
  flex-direction: row; }
  .landing-writing .landing-writing-header {
    text-align: left;
    font-size: 22px;
    font-stretch: condensed;
    margin: 20px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white; }
  .landing-writing .landing-writing-article {
    text-align: left;
    font-size: 23px;
    font-stretch: ultra-condensed;
    margin: 20px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white; }
    .landing-writing .landing-writing-article p {
      padding-bottom: 10px; }

.landing-footer {
  text-align: center;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white; }
