* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  background: #1A1A1D; }

img {
  height: auto;
  max-width: 100%; }

.landing-nav-bar {
  display: block;
  padding: 1rem;
  max-width: 100%;
  background: #C3073F; }
  @media (max-width: 40em) {
    .landing-nav-bar .landing-nav-list {
      position: relative;
      flex-flow: row wrap; } }
  @media (max-width: 60em) {
    .landing-nav-bar {
      width: 75%; } }
  @media (max-width: 87.5em) {
    .landing-nav-bar {
      width: 100%; } }
  .landing-nav-bar .landing-nav-list {
    display: flex;
    padding: 0px;
    list-style-type: none; }
    .landing-nav-bar .landing-nav-list li {
      margin: 0px 20px;
      padding: 2rem; }
      .landing-nav-bar .landing-nav-list li a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold; }
      .landing-nav-bar .landing-nav-list li ol {
        visibility: hidden;
        opacity: 0;
        display: none;
        list-style-type: none;
        position: absolute;
        margin-top: 1rem; }
      .landing-nav-bar .landing-nav-list li:hover {
        background-color: #6F2232; }
  .landing-nav-bar .landing-portfolio-signature p {
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white; }

.landing-nav-element-programming:hover .landing-nav-programming-sub-list {
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-flow: column wrap;
  background: #6F2232;
  padding-right: 5em;
  margin-top: 1rem; }

.landing-nav-element-writing:hover .landing-nav-writing-sub-list {
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-flow: column wrap;
  background: #6F2232;
  padding-right: 4em; }
  .landing-nav-element-writing:hover .landing-nav-writing-sub-list:hover .landing-nav-fan-writing-sub-list {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-flow: column wrap;
    background: #341018;
    padding-right: 4em;
    margin-left: 250px; }
    .landing-nav-element-writing:hover .landing-nav-writing-sub-list:hover .landing-nav-fan-writing-sub-list li:hover {
      background: #341018; }

.landing-burger-menu {
  display: none;
  background: #6F2232;
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px; }
  @media (max-width: 8em) {
    .landing-burger-menu {
      display: block; } }
  @media (max-width: 15em) {
    .landing-burger-menu {
      display: block; } }
  @media (max-width: 20em) {
    .landing-burger-menu {
      display: block; } }
  @media (max-width: 40em) {
    .landing-burger-menu {
      display: block; } }
  @media (max-width: 53em) {
    .landing-burger-menu {
      display: block; } }

h1 {
  text-align: left;
  font-size: 50px;
  font-stretch: condensed;
  padding: 10px;
  margin-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white; }
  @media (max-width: 40em) {
    h1 {
      font-size: 22px; } }

.landing-main-wrapper {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: 20px;
  background-color: #4E4E50;
  border: double;
  border-radius: 20px; }
  @media (max-width: 40em) {
    .landing-main-wrapper {
      width: 90%; } }
  .landing-main-wrapper .landing-main-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row; }
    @media (max-width: 60em) {
      .landing-main-wrapper .landing-main-content {
        flex-direction: column; } }
    .landing-main-wrapper .landing-main-content .landing-main-header {
      padding: 10px; }
    .landing-main-wrapper .landing-main-content .landing-main-article {
      text-align: left;
      font-size: 24px;
      font-stretch: ultra-condensed;
      margin: 20px;
      padding: 10px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: white; }
      .landing-main-wrapper .landing-main-content .landing-main-article p {
        padding-bottom: 10px; }
    .landing-main-wrapper .landing-main-content .landing-main-portfolio-image {
      padding: 40px; }

.landing-programming {
  display: flex;
  flex-direction: row; }
  @media (max-width: 60em) {
    .landing-programming {
      flex-direction: column; } }
  .landing-programming .landing-programming-content {
    display: flex;
    flex-direction: column; }
    .landing-programming .landing-programming-content .landing-programming-article {
      text-align: left;
      font-size: 24px;
      font-stretch: ultra-condensed;
      margin: 20px;
      padding: 10px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: white; }
      .landing-programming .landing-programming-content .landing-programming-article p {
        padding-bottom: 10px; }
  .landing-programming .landing-programming-image {
    width: 40%; }
    @media (max-width: 87.5em) {
      .landing-programming .landing-programming-image {
        width: 100%; } }

.landing-writing {
  display: flex;
  flex-direction: row; }
  @media (max-width: 60em) {
    .landing-writing {
      flex-direction: column; } }
  .landing-writing .landing-writing-content {
    display: flex;
    flex-direction: column; }
    @media (max-width: 40em) {
      .landing-writing .landing-writing-content .landing-writing-header {
        margin-left: none; } }
    .landing-writing .landing-writing-content .landing-writing-article {
      text-align: left;
      font-size: 24px;
      font-stretch: ultra-condensed;
      margin: 20px;
      padding: 10px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: white; }
      .landing-writing .landing-writing-content .landing-writing-article p {
        padding-bottom: 10px; }
  .landing-writing .landing-writing-image {
    width: 35%;
    margin: 0px 50px 50px 50px; }
    @media (max-width: 28em) {
      .landing-writing .landing-writing-image {
        width: 80%; } }
    @media (max-width: 87.5em) {
      .landing-writing .landing-writing-image {
        width: 85%; } }
    @media (max-width: 40em) {
      .landing-writing .landing-writing-image {
        margin: none; } }

.landing-footer {
  text-align: center;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white; }
