@import "../../../abstracts/variables";
@import "../../../abstracts/mixins";

.landing-nav-bar {
    display: block;

    padding: 1rem;
    max-width: 100%;

    background: $landing-nav-color;

    @include respond-to-width-screen-size(med) {
        .landing-nav-list {
            position: relative;
            flex-flow: row wrap;
        }
    }

    @include respond-to-width-screen-size(lg) {
        width: 75%;
        .landing-nav-list {
            display: flex;
        }         
    }

    @include respond-to-width-screen-size(xl) {
        width: 100%;
        .landing-nav-list {
            display: flex;
        }         
    }

    .landing-nav-list {
        display: flex;
        padding: 0;
    
        list-style-type: none;
         
        li {
            margin: 0 20px;
            padding: 2rem;

            a {
               text-decoration: none;
               color: white;
               font-size: 20px;
               font-family: Verdana, Geneva, Tahoma, sans-serif;
               font-weight: bold;
            }

            ol { // all sublists should be hidden
                visibility: hidden;
                opacity: 0;
                display: none;

                list-style-type: none;
            
                position: absolute;
                margin-top: 1rem;
            }
        }
    }

    .landing-portfolio-signature p {
        text-align: right;
        font-weight: bold;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
    }
}


.landing-nav-element-programming {
    &:hover {
        background-color: $landing-nav-sub-list-color;
        .landing-nav-programming-sub-list {
            visibility: visible;
            opacity: 1;
            display: flex;
            flex-direction: column;
            flex-flow: column wrap;
            background: $landing-nav-sub-list-color;         
            padding-right: 4em;
            margin-top: 1rem;
        }
    }
}

.landing-nav-element-writing {
    &:hover {
        background-color: $landing-nav-sub-list-color;
        .landing-nav-writing-sub-list {
            visibility: visible;
            opacity: 1;
            display: flex;
            flex-direction: column;
            flex-flow: column wrap;
            background: $landing-nav-sub-list-color;
            padding-right: 4em;
        }
    }
}