@import "../../../abstracts/variables";
@import "../../../abstracts/mixins";

.landing-burger-menu {
    display: none;

    @include respond-to-width-screen-size(xxxs) {
        display: block;
    }

    @include respond-to-width-screen-size(xxs) {
        display: block;
    }

    @include respond-to-width-screen-size(xs) {
        display: block;
    }

    @include respond-to-width-screen-size(med) {
        display: block;
    }

    @include respond-to-width-screen-size(med-lg) {
        display: block;
    }

    background: $landing-nav-sub-list-color;
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px;
}